@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

@import "embla.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.mintButton {
  font-family: "Nunito";
  width: 100%;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  line-height: 1.15;
  font-size: 16px;
  padding: 0.8rem 4rem;
  margin-top: 10px;
  margin-bottom: 10px;

  background: linear-gradient(
    228deg,
    rgba(11, 181, 215, 1) 0%,
    rgba(11, 126, 217, 1) 100%
  );
  color: white;
}

.mintButton:hover {
  transition: all 0.1s ease;
  background: linear-gradient(
    228deg,
    rgba(11, 126, 217, 1) 0%,
    rgba(11, 181, 215, 1) 100%
  );
}

.bg-body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(#78a4a5 0%, #d3fca9 100%);
  background: -o-linear-gradient(#78a4a5 0%, #d3fca9 100%);
  background: linear-gradient(#78a4a5 0%, #d3fca9 100%);
  background-repeat: no-repeat;
}

.bg-pattern {
  min-height: 100vh;
  padding: 2rem 0 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #7d08ff;
  background-image: url("https://i.ibb.co/2hjb3vJ/bgcity.png");
  background-attachment: fixed;
  background-size: cover;
}

  

  


::-moz-selection {
  /* Code for Firefox */
  color: #f4f4f4;
  background: #6e0cca;
}

::selection {
  color: #f4f4f4;
  background: #6e0cca;
}

.gradient-background {
  background: linear-gradient(213deg, #b312dd, #ff4e58, #9222d4, #33c2d0);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

.underlined {
  position: relative;
}

.underlined::after {
  content: "";
  position: absolute;
  bottom: -1.525rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 40px;
  z-index: 0;

  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
  background-repeat: no-repeat;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
